@import "tailwindcss";

body {
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

html,
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


